<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cogentdatasolutions.project1">

    <supports-screens android:resizeable="true" />
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cptoptlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Fragments.Signin" />
        <activity
            android:name=".Activities.Nextpage"
            android:parentActivityName=".Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        <activity android:name=".Activities.EditDetails" />
        <activity android:name=".Activities.EditAddress" />
        <activity android:name=".Activities.Fab" />
        <activity android:name=".Activities.Feedback" />
        <activity android:name=".Activities.AddProject" />
        <activity android:name=".Activities.Changepassword" />
        <activity android:name=".Activities.Settings" />
        <activity android:name=".Activities.Editprofile1" />
        <activity android:name=".Activities.VisibilitySettings" />
        <activity android:name=".Activities.Communication" />
        <activity android:name=".Activities.ResetPassword" />
        <activity android:name=".Activities.Forgototp" />
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.RegisterNew"
            android:parentActivityName=".Activities.Registration_SignIn" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Activities.Registration_SignIn" />

        <activity
            android:name=".Activities.Signinnew"
            android:parentActivityName=".Activities.Registration_SignIn" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Activities.Registration_SignIn" />
        <activity android:name=".Activities.Registration_SignIn"/>

        <activity android:name=".Activities.Otp" />
        <activity android:name=".Activities.MainResume"></activity>
        <activity android:name=".Activities.JobsDisplay"/>
    </application>

</manifest>